---
---

@import '{{ site.theme }}';

body {
  background-color: #2C2C2C;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6,
ul, li,
a,
p {
  color: #FFA000;
  font-family: 'Courier New', Courier, monospace;
  line-height: 2.5;
  margin: 0px;
}

ul {
  padding: 0px 50px;
}

li {
  line-height: 1.7;
  list-style: none;
}

li:before {
    content: ">_ ";
    font-size: 20px;
    vertical-align: middle;
}

#header {
  border-bottom: 1px solid #FFA000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  padding: 0px 10px;
}

#header-left,
#header-right {
  height: fit-content;
}

#header-right {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.header-logo-button,
.header-link-button {
  justify-content: center;
  padding: 15px;
}

.header-logo-button-link,
.header-link-button-link {
  align-content: center;
  font-size: 16px;
  text-decoration: none;
}

.header-logo-button-link:hover,
.header-link-button-link:hover {
  color: #FFC000;
  text-decoration: none;
}

#content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

#content-left,
#content-center,
#content-right {
  align-self: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px 20px;
}

#content-left,
#content-right {
  max-width: 150px;
}

#content-center {
  flex-grow: 1;
}

#content p {
  line-height: 4.0;
  padding: 0px 30px;
  text-indent: 60px;
}

#footer {
  align-self: center;
  border-top: 1px solid #FFA000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 25px;
  width: fit-content;
}

.footer-icon {
  padding: 5px 10px;
}

@media ( min-width: 1600px ) {
  #content-left,
  #content-right {
    flex-grow: 1;
    min-width: 150px;
  }

  #content-center {
    flex-grow: 0;
    min-width: 1300px;
    max-width: 1300px;
  }
}
