---
---

@import '{{ site.theme }}';

body {
  background-color: #2C2C2C;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6,
a,
p {
  color: #FFA000;
  font-family: 'Courier New', Courier, monospace;
}

#header {
  border-bottom: 1px solid #FFA000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 0px 10px;
}

#header-right {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.header-logo-button,
.header-link-button {
  justify-content: center;
  padding: 15px;
}

.header-logo-button-link,
.header-link-button-link {
  align-content: center;
  font-size: 16px;
  text-decoration: none;
}

.header-logo-button-link:hover,
.header-link-button-link:hover {
  color: #FFC000;
  text-decoration: none;
}
