<!DOCTYPE html>

<html lang='{{ site.lang | default: "en-US" }}'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/assets/css/style.css'>
    <link rel='stylesheet' href='/assets/css/homepage.css'>
    <link rel='stylesheet' href='/assets/css/code.css'>
    {% seo %}
  </head>

  <body>
   <div id='header'>
     <div id='header-left'>
       <div class='header-logo-button'>
         <a class='header-logo-button-link' href='/'>TheOrangeLego</a>
       </div>
     </div>
     <div id='header-right'>
       {% for link in site.data.links %}
         <div class='header-link-button'>
           <a class='header-link-button-link' href='{{ link.link }}'>{{ link.title }}</a>
         </div>
       {% endfor %}
     </div>
   </div>

   <div id='content'>
     {{ content }}
   </div>

   <div id='footer'>
     <a href='https://github.com/theorangelego'>
      <img src='/assets/images/github_mark_lg.png' alt='github_img'>
     </a>

     <a href='https://www.linkedin.com/in/jose-guan-zhou'>
      <img src='/assets/images/linkedin-mark-lg.png' alt='linkedin-img'>
     </a>
   </div>
  </body>
</html>
